*{
  margin: 0;
  padding: 0;
}
.calculator{
  width: 100vw;
  height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}
.container{
  width: 16.64rem;
  height: 25.9rem;
  border: 3px solid black;
}
button{
  /* padding: 1.7rem 1.4rem; */
  width: 66.53px;
  height: 73.6px;
  background-color:khaki;
}
.inptfld{
  height: 11%;
  width: 100%;
  border-bottom: 1px solid grey;
  background-color: rgb(60, 60, 198);
}
#inptfld{
  width: 90%;
  height: 70%;
 margin: 0.4rem;
 font-size: 1.2rem;
 font-weight: 600;
}
.Head{
text-align: center;
font-size: 6rem;
text-shadow: 2px 2px 4px red;
  
}